<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      width="350px"
      height="100px"
      style="margin: 20px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="onAddToList()"
            >To Shopping List</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a>
        </li>
        <li><a style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li class="list-group-item" *ngFor="let i of recipe.ingredients">
        {{ i.name }} -- {{ i.amount }}
      </li>
    </ul>
    Ingredients
  </div>
</div>
