<p>servers works!</p>
<input type="text" (input)="onInputChange($event)" />
<p>serverNameOneWayDataBinding: {{ serverName }}</p>

<input type="text" [(ngModel)]="serverNameForTwoWayDataBinding" />
<p>serverNameTwoWayDataBinding: {{ serverNameForTwoWayDataBinding }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowAddServers"
  (click)="onServerCrate()"
>
  Add servers
</button>
<p *ngIf="isServerCreated; else noServer">{{ serverCreation }}</p>
<ng-template #noServer>
  <p>No servers</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
