<div class="container">
  <h3>play with component life cycle: {{ title }}</h3>
  <app-cockpit
    [serverElements]="serverElements"
    (onServerCreated)="onServerCreated($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
      ></app-server-element>
    </div>
  </div>
  <input #inputRef />
  <button class="btn btn-danger" (click)="logRefVal(inputRef)">
    log ref value
  </button>
  <input #inputRefWithViewChild />
  <button class="btn btn-secondary" (click)="logRefVal2()">
    log ref value with viewChild
  </button>
</div>
